*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: url(img/rock.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.choises{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.choises h2{
    color: rgb(210, 123, 204);
    font-size: 3rem;
    text-shadow: 0 0 25px inset rgb(210, 80, 171);
}
#result{
    color: #f3f321;
    font-size: 3rem;
    text-shadow: 0 0 10px #f3f321, 0 0 40px #f3f321, 0 0 80px #f3f321;
}
.btn > button{
    width: 150px;
    height: 40px;
    background: rgb(0, 242, 255);
    border: none;
    box-shadow: 0 0 35px rgb(0, 242, 255);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}
.btn > button:hover{
    color: #255784;
    background: transparent;
    box-shadow: 0 0 10px #f3f321, 0 0 40px #f3f321, 0 0 80px #f3f321;
    cursor: pointer;
}